<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="DemoUse.Installer" Language="1033" Version="1.0.0.0" Manufacturer="Demo" UpgradeCode="c838fc64-a406-4645-acd2-de581c7cfed9">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="DemoUse.Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="cmpB59C44B238E764B86C6DFC0A8045E3FA" />
    </Feature>

   
    <!--自訂動作 SettingDlg.wxs-->
    <Binary Id='SettingCADLL' SourceFile='$(var.DemoUse.CustomAction.TargetDir)/DemoUse.CustomAction.CA.dll' />
    <CustomAction Id="SetURL" BinaryKey="SettingCADLL" DllEntry="SetCustomAction" Execute="immediate" Return="check" />
    <CustomAction Id="GetIP" BinaryKey="SettingCADLL" DllEntry="GetThisIP" Execute="immediate" Return="check" />
    <InstallUISequence>
      <Custom Action="GetIP"  After="LaunchConditions" Overridable="yes">NOT Installed</Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="SetURL" After="InstallFinalize" Overridable="yes">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="DemoUse.Installer">
        <!--資料夾權限-->
        <Component Id="cmpB59C44B238E764B86C6DFC0A8045E3FA" Guid='BDAA4089-F7C0-42E8-928E-B81901938FCD' >
          <CreateFolder Directory="INSTALLFOLDER">
            <Permission User="SYSTEM" GenericAll="yes"/>
            <Permission User="EveryOne" GenericAll="yes"  GenericRead="yes" Read="yes" ReadAttributes="yes"  GenericExecute="yes" TakeOwnership ="yes"  GenericWrite ="yes"    WriteAttributes="yes" ReadPermission ="yes"   ChangePermission="yes" />
            <Permission User="Users" Domain="[LOCAL_MACHINE_NAME]"  GenericRead="yes" Read="yes" ReadAttributes="yes"  GenericExecute="yes" TakeOwnership ="yes"  GenericWrite ="yes"    WriteAttributes="yes" ReadPermission ="yes"   ChangePermission="yes"/>
          </CreateFolder>
        </Component>
          <Directory Id="dir3D83A529A2122889D4016E7D784625D5" Name="wwwroot" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  
</Wix>