<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="SettingDlg" Width="370" Height="270" Title="System Setting">
        <Control X="0"   Y="0"   Id="BannerBitmap" Type="Bitmap" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control X="0"   Y="44"  Id="BannerLine" Type="Line" Width="370" Height="0" />
        <Control X="15"  Y="6"   Id="Title" Type="Text"  Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Set System URL" />
        <Control X="25"  Y="50"  Id="Description" Type="Text" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="Input Your Setting" />
        
        <Control X="30"  Y="80"  Id="LabelWebURL" Width="70" Height="15" Type="Text" Text="System IP:" />
        <Control X="120" Y="80"  Id="EditWebURL" Width="180"  Height="15" Type="Edit" Property="SYSTEMIP" Text="{200}"  />
        <Control X="30"  Y="120" Id="LabelWebPort" Width="70" Height="15" Type="Text" Text="System Port:" />
        <Control X="120" Y="120" Id="EditWebPort" Width="180"  Height="15" Type="Edit" Property="WEBPORT" Text="{20}"  />
        
        <Control X="0"   Y="234" Id="BottomLine" Type="Line" Width="370" Height="0" />
        <Control X="180" Y="243" Id="Back" Type="PushButton"  Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control X="236" Y="243" Id="Next" Type="PushButton" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"/>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>      
      <Property Id="SYSTEMIP" Value="127.0.0.1"/>
      <Property Id="WEBPORT" Value="5000"/>
    </UI>
  </Fragment>
</Wix>
